.infobar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 30px;
    background-color: #2d4059;
    margin-top: -60px;
}

.leftContainer {
    flex: 1;
    display: flex;
    align-items: center;
    color: #f5f3f1;
    font-size: 20px;
    font-family: 'Baloo Chettan 2', cursive;
}

.rightContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.online {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.close {
    width: 30px;
    height: 30px;
    margin-top: 8px;
}